* {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-weight: bold;
  color: rgb(0, 0, 0);
}


/* Header */



/* Search Bar Table */
#myInput {
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* Tabel Daftar Tamu */
#tamu {
  /* width: 1000px; */
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 100%; */
}

#tamu td,
#tamu th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

#tamu tr:nth-child(even) {
  background-color: #ebe6e6;
}

#tamu tr:hover {
  background-color: rgb(197, 193, 193);
}

#tamu th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.daftar_tamu {
  width: 1300px;
  box-shadow: 5px 10px 18px rgb(45, 45, 45);
  border-radius: 15px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #d9e9f6;
  padding: 20px;
}

.daftar_tamu h2 {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: #f0f3f5;
}


/* Loading Page */


/* Form Tamu */
form {
  display: flex;
  flex-direction: column;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(240, 237, 237);
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form_tamu {
  width: 1300px;
  box-shadow: 5px 10px 18px rgb(45, 45, 45);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: #d9e9f6;
  padding: 20px;
}

.form_tamu h2 {
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  width: 270px;
  border-radius: 15px;
  background-color: #f0f3f5;
}


/* Table */




/* Responsive Home Page Not Include Navbar */
@media screen and (max-width: 1040px) {
  .daftar_tamu {
    width: 100%;
    border-radius: 15px;
    margin: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #9b7c6d;
    padding: 20px;
    overflow-x: auto;
  }

  .form_tamu {
    width: 500px;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #817f7f;
    padding: 20px;
  }
}